<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge,Chome=1">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href='{{url_for("static",filename="style.css")}}'>
</head>
<body background='{{url_for("static",filename="images/background.jpg")}}'>
	<div class="w3-bar w3-padding w3-card-4">
		<h3 style="color: wheat; font-size: 3em; margin-left: 50px;">
			{% block pageheader %}{% endblock %}
		</h3>
		<div>
			{% block menubar %}{% endblock %}
		</div>
	</div>
	<br>
	<div class="w3-container">
		{% block content %}
		{% endblock %}
	<hr>
	<div>
	<center>
		Copyright &copy; IT-ELECTPYTHON, 2021
	</center>
	<script src="{{url_for('static', filename='javascript.js')}}">
	</script>
</body>
</html>