{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block pageheader %}{{title}}{% endblock %}
{% block content %}
	<br><br><br><br><br><br><br><br><br>
	<div class="login_container">
		<div class="w3-panel w3-animate-top" style="width: 100%; margin: auto;">
			<br><br><br><br>
			<div class="w3-container" style="background: #460000;">
				<h3 style="color: wheat; font-size: 1.5em;">USER LOGIN</h3>
			</div>

			<div class="w3-container w3-card-4" style="background:transparent;">
				{% if mess!="ok" %}
				<div class="w3-panel w3-center w3-animate-right">
					<p class="shrink">{{ mess }}</p>
				</div>
				{% endif %}
				<form action="/login" method="post" >
					<p>
						<label style="color:white;">USERNAME</label>
						<input style="border-radius:20px;padding-left: 30px" type="text" class="w3-input w3-border" name="username" id="username" placeholder="&#128100; USERNAME">
					</p>
					<p>
						<label style="color:white;">PASSWORD</label>
						<input style="border-radius:20px;padding-left: 30px" type="password" class="w3-input w3-border" name="password" id="password" placeholder="&#128274; ********">
					</p>
					<p>
						<input type="submit" class="w3-button w3-right" value="LOGIN &#128190;" style="background: #460000; color: white;">
						<br><br>
					</p>
				</form>
			</div>
		</div>
	</div>

{% endblock %}